.mainEl{
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 25px;
}
.Carousel{
  display: block;
  position: relative;
  min-height: 380px;
  width: 100%;
  border: 1px solid red;
  overflow: hidden;
}
.inner{
  white-space: nowrap;
  transition: transform 0.3;
}
.article{
  display: inline-flex;
  width: 383px;
  border: 1px solid black;
}